<div class="jumbotron">
  <h1 class="display-4">Burger app!!</h1>
  <p class="lead">Log the burgers you want to eat!!</p>
  <hr class="my-4">
  <p>Once you devoure them, PRESS THE BUTTON</p>
</div>

<div class="container">

<div class="row">

  <div class="col-md-4">
    <h1>BURGERS</h1>
  <ul>
      {{#each burgers}}
        {{#unless devoured}}
        {{!-- ??????????? --}}
          {{> burgers/burger-block}}
        {{/unless}}
      {{/each}}
  </ul>
  </div>

  <div class="col-md-4">
<h2>Add Burger!</h2>

<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="name">
  </div>

  <button id="submit-burger" type="submit">Burger!</button>
</form>
  </div>

  <div class="col-md-4">
    <h1>DEVOURED!</h1>
  <ul>
      {{#each burgers}}
        {{#if devoured}}
        {{!-- ??????????? --}}
          {{> burgers/burger-block}}
        {{/if}}
      {{/each}}
  </ul>
  </div>
</div>
</div>