<div class="container">
<h1>BURGERS APP</h1>
<div class="row">
  <div class="col-md-4">
  <ul>
      {{#each burgers}}
        {{#unless devoured}}
        {{!-- ??????????? --}}
          {{> burgers/burger-block}}
        {{/unless}}
      {{/each}}
  </ul>
  </div>

  <div class="col-md-4">
  <ul>
      <form id="add-burger" class="button-size">
    <textarea type="text" name="burger"></textarea>
    <button type="submit">Add a burger!</button>
</form>
  </ul>
  </div>

  <div class="col-md-4">
  <ul>
      {{#each burgers}}
        {{#if devoured}}
        {{!-- ??????????? --}}
          {{> burgers/burger-block}}
        {{/if}}
      {{/each}}
  </ul>
  </div>
</div>
</div>
<script type="text/javascript">

  $("#add-burger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // name=plan will find an element with a "name" attribute equal to the string "plan"
    var newBurger = {
      burger_name: $("#createburger [name=burger]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>